<div class="columns medium-3">
  <strong><a href="/locations/">EMBL Locations</a></strong><br/>
  <a href="/locations/barcelona">Barcelona</a><br/>
  <a href="/locations/hamburg">Hamburg</a><br/>
  <a href="/locations/hinxton">Hinxton</a><br/>
  <a href="/locations/heidelberg">Heidelberg</a><br/>
  <a href="/locations/grenoble">Grenoble</a><br/>
  <a href="/locations/rome">Rome</a><br/>
</div>

<div class="columns medium-4">
  <strong><a href="/research">Research at EMBL</a></strong><br/>
  <a href="/research/#urlToCome">Cell Biology &amp; Biophysics</a><br/>
  <a href="/research/#urlToCome">Developmental Biology</a><br/>
  <a href="/research/#urlToCome">Directors’ Research</a><br/>
  <a href="/research/#urlToCome">Genome Biology</a><br/>
  <a href="/research/#urlToCome">Structural and Computational Biology</a><br/>
</div>

<div class="columns medium-3">
  <strong><a href="#">More from EMBL</a></strong><br/>
  <a href="/jobs">Jobs</a><br/>
  <a href="/contact">Contact</a><br/>
</div>
