<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} > EMBL</title>
    <link rel="stylesheet" href="{{root}}css/embl-design-language-framework.css">

    <meta name="embl:rational" content="{{metaRational}}" />
    <meta name="embl:external" content="{{metaExternal}}" />
    <meta name="embl:active" content="{{metaActive}}" />
    <meta name="embl:parent-1" content="{{metaParent1}}" />
    <meta name="embl:parent-2" content="{{metaParent2}}" />

  </head>
  <body class="">
    <div class="row padding-top-large global-masthead">
{{> navigation}}
    </div>

    <div class="row padding-top-large local-masthead">
{{#markdown}}
## {{title}}
{{/markdown}}
    </div>

    <div class="row">
{{> body}}
    </div>

<div class="row padding-top-xlarge">
  <hr/>
  <h3>Readout</h3>
  <div class="columns medium-3">
    {{> emotion-print}}
  </div>
  <div class="columns medium-9">
{{#markdown}}
```
<meta name="embl:rational" content="{{metaRational}}" />
<meta name="embl:external" content="{{metaExternal}}" />
<meta name="embl:active" content="{{metaActive}}" />
<meta name="embl:parent-1" content="{{metaParent1}}" />
<meta name="embl:parent-2" content="{{metaParent2}}" />
```
{{/markdown}}
  </div>




</div>

<div class="row padding-top-xlarge">
{{> footer}}
</div>

    <script src="{{root}}bower_components/jquery/dist/jquery.js"></script>
    <!-- <script src="bower_components/what-input/dist/what-input.js"></script> -->
    <script src="{{root}}bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="{{root}}js/app.js"></script>
  </body>
</html>
