<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{root}}css/embl-design-language-framework.css">

    <meta name="embl:rational" content="{{metaRational}}" />
    <meta name="embl:external" content="{{metaExternal}}" />
    <meta name="embl:active" content="{{metaActive}}" />
    <meta name="embl:parent-1" content="{{metaParent1}}" />
    <meta name="embl:parent-2" content="{{metaParent2}}" />

  </head>
  <body class="">
    <div id="masthead" class="row padding-top-large masthead">
{{> navigation}}
<hr/>
    </div>

    <div class="row padding-top-large local-masthead">
      <h1 id="facet-active">{{title}}</h1>
    </div>

    <div class="row main-content-area">
      <hr/>
{{> body}}
    </div>

<div class="row padding-top-xlarge main-content-area">
  <hr/>
{{> footer}}
</div>


<div class="row padding-top-xlarge">
  <hr/>
  <h3>Readout</h3>
  <div class="columns medium-5">
    {{> emotion-print}}
{{#markdown}}
`<meta name="embl:rational" content="{{metaRational}}" />`<br/>
`<meta name="embl:external" content="{{metaExternal}}" />`
{{/markdown}}
  </div>
  <div class="columns medium-5">
    <img src="{{root}}assets/three-ws.svg" />
<br/>Todo: show the active facets as triangle representation.
{{#markdown}}
`<meta name="embl:active" content="{{metaActive}}" />`<br/>
`<meta name="embl:parent-1" content="{{metaParent1}}" />`<br/>
`<meta name="embl:parent-2" content="{{metaParent2}}" />`<br/>
{{/markdown}}
  </div>
  <div class="columns medium-2">
  </div>
</div>


    <script src="{{root}}bower_components/jquery/dist/jquery.js"></script>
    <!-- <script src="bower_components/what-input/dist/what-input.js"></script> -->
    <script src="{{root}}bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="{{root}}js/app.js"></script>
  </body>
</html>
